.husky
.storybook
.swc
.vscode
dist
nginx
node_modules
public
.dockerignore
.env.*
.env
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile.dev
Dockerfile.prod
Makefile
package.json
pnpm-lock.yaml
postcss.config.js
pretter.config.js
README.md
tsconfig.json
tsconfig.node.json
vite.config.ts