node_modules
readme-images
.vscode
.DS_Store
**/.yarn
.pnp
.pnp.js
.env*.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
*.tsbuildinfo
next-env.d.ts
.contentlayer
.vercel
.DS_Store
*.pem